.intro3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
.intro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
}
.intro__title {
    font-family: 'Share Tech';
    color: #fff;
    font-size: 50px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1;
}
.intro__title:after {
    content: "";
    display: block;
    width: 20px;
    height: 1px;
    margin: 20px auto;
    background-color: #fff;
}
.intro__suptitle {
    margin-bottom: 20px;
    font-family: 'Kaushan Script', cursive;
    font-size: 32px;
    color: #fff;
}
.header__logo {
    font-size: 35px;
    font-weight: 700;
    color: #fff;
}
.text_orange_big {
    font-family: 'Share Tech';
    color: rgb(249, 186, 68);
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1;
}
.text_white {
    font-family: 'Share Tech';
    color: rgb(255, 255, 255);
    font-size: 19px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1;
}
